@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  left: 0;
  background-color: #dc9f61;
  padding: 10px;
}

.menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px; /* Adjust the top position as needed */
  left: 10px;
  color: white;
  background-color: #fffdfd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  color: white;
  background-color: #555;
}

.show-dropdown {
  color: white;
  display: flex;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#dc {
  font-size: 28px;
}
:root {
  --green-color: #3cb815;
  --light-green-color: #ceeb7b;
  --orange-color: #ff7e00;
  --light-orange-color: #f75f1d;
  --text-color: #1a2428;
  --bg-color: #fff;
}
section {
  padding: 4.5rem 0 1.5rem;
}

img {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  left: 0;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  box-shadow: 1px 7px rgb(14 55 54 / 15%);
  transition: 0.5s;
  background-color: #dc9f61;
  color: black;
}
header p {
  color: white;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(35, 30, 24);
  padding: 0.5rem 1rem;
}
.navbar a:hover,
.navbar .home-active {
  color: #6f8bd8;
  transition: background 0.5s;
}
header .icons .bx,
header .icons .fas {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
  text-align: center;
  font-size: 1.1rem;
  color: var(--text-color);
  border-radius: 50%;
  background: #a5a4a4;
}

header .icons .bx:hover,
header .icons .fas:hover {
  color: #fff;
  background: var(--green-color);
  transform: rotate(360deg);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  display: none;
}
.container {
  position: relative;
  width: 100%;
  min-height: 710px;
  display: flex;
  align-items: center;
  background: url("images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.container img {
  position: absolute;
  top: 60%;
  left: 88%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  border-radius: 50%;
}
.home-text {
  padding-top: 150px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 6%;
}
.home-text h1,
.home-text span {
  font-size: 2.5rem; /* Adjust this value as needed */
}

.home-text span {
  font-weight: 1000;
  text-transform: uppercase;
  color: var(--green-color);
}
.home-text.hl {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.btn {
  padding: 0.4rem 0.8rem;
  background: var(--green-color);
  color: var(--bg-color);
  font-weight: 200;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 00.1rem;
  max-width: 135px;
}
.btn.bx {
  padding: 4px;
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 1rem;
  font-size: 20px;
  margin: auto;
}
.btn:hover {
  background: var(--light-orange-color);
  transition: 0.2s ease;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heading h1 {
  font-size: 1.6rem;
  font-weight: 600;
}
.heading span {
  color: var(--green-color);
}
.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.categories-container .box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-radius: 0.5rem;
  background: #faeaea;
}

.categories-container .box img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: center;
}
.categories-container .box h2 {
  font-size: 1rem;
  font-weight: 600;
}

.categories-container .box span {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.categories-container .box .bx {
  padding: 10px;
  background: var(--green-color);
  color: var(--bg-color);
  border-radius: 5rem;
  margin-top: 2rem;
  position: absolute;
  bottom: -8%;
  display: none;
}
.categories-container .box .bx:hover {
  background: var(--light-orange-color);
  transition: 0.2s all linear;
}

.categories-container .box:hover .bx {
  display: block;
  transition: 0.2s all linear;
}
.dish-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  margin-top: 0.5rem;
}
.dish-container .box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 0.5rem;
  background: #eeeef9;
  text-align: center;
  box-sizing: border-box; /* Include padding and border in box-sizing */
  width: 100%;
}
.box {
  box-shadow: 5px 5px lightblue;
}
.dish-container .box img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.dish-container .box h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.dish-container .box span {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.dish-container .box .bx {
  padding: 10px;
  background: var(--green-color);
  color: var(--bg-color);
  border-radius: 5rem;
  margin-top: 2rem;
  position: absolute;
  bottom: -8%;
  display: none;
}
.dish-container .box .bx:hover {
  background: var(--light-orange-color);
  transition: 0.2s all linear;
}

.dish-container .box:hover .bx {
  display: block;
  transition: 0.2s all linear;
}
.sub-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align to the left */
  text-align: left; /* Align text to the left */
  margin-left: 20px;
  margin-bottom: 0;
  color: rgb(255, 128, 0);
  /*margin-top: 2rem;*/
}

.sub-heading h1 {
  font-size: 1.6rem;
  font-weight: 600;
}
.container .topheading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align to the left */
  text-align: left; /* Align text to the left */
  margin-left: 70px;
}
.container .topheading h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-top: 85px;
}
.topheading {
  color: #ff5500;
}
#en {
  font-style: oblique;
  font-size: 24px;
  color: #ff9500;
}
@media screen and (max-width: 600px) {
  body {
    background-size: contain; /* Adjust background size for smaller screens */
    padding-left: 6px;
  }
  .navbar {
    display: flex;
    justify-content: flex-start;
    left: 0;
    padding-left: 16px;
  }
  .home-text h1,
  .home-text span {
    font-size: 1.8rem; /* Adjust font size for smaller screens */
  }
  .home-text {
    padding-top: 40%;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 20%;
  }

  .home-text.hl {
    font-size: 1.6rem; /* Adjust font size for smaller screens */
    margin-bottom: 0.5rem;
  }
  .container .topheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align to the left */
    text-align: left; /* Align text to the left */
    margin-left: 8px;
  }
  .container .topheading h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 85px;
  }
  .topheading {
    color: #ff5500;
  }
  .container img {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}
