@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Asap+Condensed:wght@200&family=Dancing+Script:wght@500&family=Edu+TAS+Beginner&family=Lato:wght@300&family=Merriweather+Sans:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
  background-image: url("images.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Make sure the body takes up the full height of the viewport */
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 10px;
}

.menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px; /* Adjust the top position as needed */
  right: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #555;
}

.show-dropdown {
  display: flex;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav {
  background-image: rgb(255, 255, 255);
  opacity: 100%;
  text-align: right;
  top: 0%;
  height: 56px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 4px;
  width: 100%;
  position: fixed;
}
nav a:hover {
  color: rgb(0, 179, 255);
}

nav a {
  padding: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust the height as needed */
}
.card {
  color: white;
  background-color: rgb(12, 12, 12);
  opacity: 0.7;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 36px;
  width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
iframe {
  position: relative;
  height: 100px;
  width: 500px;
}
#em {
  color: white;
  text-decoration: none;
}
.ca {
  padding: 4px;
}
@media screen and (max-width: 600px) {
  body {
    background-size: contain; /* Adjust background size for smaller screens */
  }

  .card {
    color: white;
    background-color: rgb(12, 12, 12);
    opacity: 0.7;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 28px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  iframe {
    position: relative;
    height: 100px;
    width: 100%;
  }
}
